.Newsletter {
  background-color: whitesmoke;
  margin-left: 25px;
  margin-right: 25px;
  color: black;
  margin-bottom: -315px;
  padding-top: -20px;

  > div {
    margin-left: 15px;
  }

  .upsideDown {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .links {
    border: 1px solid black;
  }
}
